
html,body {
      height: 100%;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #1A0111;
background-color: rgba(229, 240, 233, 0.34);
}


.img-rounded {
width: 49px;
}
button, input, optgroup, select, textarea {
color: inherit;
font: inherit;
margin: 2px;
border-radius: 22px;
background-color: white;
}

button:hover, button:focus, button:active{
background-color: orange;
}

.navbar-default {
background-color: rgba(255, 126, 0, 0.54);
border-color: rgba(244, 245, 235, 0);
}
.navbar-default .navbar-nav>li>a {
color: #FBF9FC;
}
.label-info {
background-color: red;
}

.text-danger {
color: black;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -40px auto -20px;
  padding: 0 15px 60px;

}

ul, ol {
margin-top: 15px;
margin-bottom: 10px;
}
.katagoribtn {
    float: left;
    margin-left: 15px;
}

#wrap2 {
background-color: white;
margin-bottom: -41px;
margin-top: -20px;
padding-top: 40px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
padding-bottom: 90px;
}

.sporsmol {
    text-decoration:underline;
}
.fa {
    margin-right: 5px;
}
.form-group1 {
padding: 6px 12px;
border-radius: 10px;
width: 250px;
margin-top: 15px;

}
#footer {
height: 60px;
background-color: rgba(229, 227, 223, 0.49);
text-align: center;
padding: 15px;
margin-top: 0;
}

span.ok, span.ko {
 display:none;
 float: right;
font-size: 31px;
margin-top: -40px;
 }

.btn-warning {
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
margin-left: -598px;
margin-top: 80px;
}


.ng-dirty.ng-valid ~ span.ok {
    color:green;
    display:inline;
}
.ng-dirty.ng-invalid ~ span.ko {
    color:red;
    display:inline;
}
.ng-dirty.ng-valid {
    border-color:Green;
}
.ng-dirty.ng-invalid {
    border-color:Red;
}




 


